@charset "Utf-8";

:root {
  --cor1: #a6a6a6;
  --cor2: #737373;
  --cor3: #404040;
  --cor4: #262626;
  --cor5: #0d0d0d;
}

.bg-gray{
    background-color: var(--cor2);
}

.bg-gray-dark {
  background-color:var(--cor4);
}

.container{
    width: 540px;
}

.tela {
  height: 50px;
  color: black;
}

.teclas {
  width: 18%;
  margin: 2px 0.5px;
  background-color: black;
}
.fs-1 {
  font-size: 3em;
}
