@charset "UTF-8";

.corpo-calculadora{
  width: 237px;
  border-radius: 7px;
  padding: 12px 15px;
}

.tela{
 margin-top: 3px;
    margin-bottom: 7px;
    height: 39px;
    height: 41px;
    border-radius: 5px;
    width: 207px;

}